* {
  font-family:Georgia, Garamond, serif;
}

p {
  font-size:16px;
  color:rgb(48, 53, 81);
  background-color:white;
}

h4 {
  colour:rgb(39, 43, 66);
  font-weight:bold;
}

body {
  background-image: url("https://c1.staticflickr.com/3/2907/33770325860_690e9075bc_k.jpg");
  text-align:center;
}
