h1 {
  background-color: #D3D3D3 (light grey)
  color: #00FFFF (aqua)
}
NOTE: blue and grey colour scheme
body {
  background-color: light-blue;
}
p {
  background-color:
}
#grad1 {
    height: 200px;
    background: red;
    background: -webkit-linear-gradient(red, blue);
    background: -o-linear-gradient(red, blue);
    background: -moz-linear-gradient(red, blue);
    background: linear-gradient(red, blue);
}

<div id="grad1"></div>
